{% extends "admin/my_custom_index.html" %}

{% block content %}
    <h1>Sobre Nosotros</h1>

    <div class="row">
        <div class="col-sm-4"><img src="../static/img/Lucas.jpg" class="foto-perfil"></div>
        <div class="col-sm-4"><img src="../static/img/Nati.jpg" class="foto-perfil"></div>
        <div class="col-sm-4"><img src="../static/img/Mariano.jpg" class="foto-perfil"></div>
    </div>
    <div class="row">
        <div class="col-sm-4"><b>Lucas Betolini</b></div>
        <div class="col-sm-4"><b>Natalí Vargas</b></div>
        <div class="col-sm-4"><b>Mariano Schaberger</b></div>
    </div>
    <div class="row" style="padding:2%">
        <br>
        <p>Con la expectativa de poder crear
        un software sencillo y práctico, que pueda
        de una manera simple incorporarse y ponerse
        en funcionamiento, es que surge Jayus.</p>
        <br>
        <p>El sistema fue desarrollado inicialmente
        para cumplir con obligaciones universitarias,
        luego dimos cuenta de sus potenciales
        posibilidades de competir en el mercado de
        los gestores de contenido, principalmente
        por dos ventajas fundamentales:</p>
        <ui>
        <li><b>Simpleza</b>, se busca no tener una gran cantidad
        de opciones y configuraciones que
        distraigan a los usuarios.</li>
        <li><b>Libertad</b>, para permitir a los usuarios
        tomar el código, usarlo y modificarlo a
        gusto.</li>
        <br>
        <p>Primordialmente buscamos poder crecer
        en este mercado apuntando y basando
        nuestro desarrollo para contribuir a
        pequeñas y medianas empresas.</p>
        <br>
        <p>Por último queremos informarles que
        pueden contactarse con nosotros a través
        de la dirección de correo electrónico:
        Jayus@hotmail.com</p>
    </div>

{% endblock content %}