
<left style="width:100%; margin: 0 auto !important;">
    <div class="panel panel-primary" style="padding:1%">
        <div class="panel-body">
        <form action="{% url 'JayusApp.views.alta_comentario' idContenido%}" method="post">
            {% csrf_token %}
            <div class="row">
                <textarea class="form-control" rows="5" id="id_descripcion"
                name="descripcion" type="text" placeholder="Comentar..."
                required></textarea>
            </div>
            <div class="row">
                {{ formComentario.descripcion.errors }}
            </div>
            <div class="row">
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            </div>
            <div class="row" style="padding:2%">
                <button class="btn btn-primary" type="submit">Comentar</button>
            </div>
        </form>
      </div>
    </div>
</left>
