
{% extends "admin/my_custom_index.html" %}
{% load admin_urls %}

{% block title %}Jayus | Comunidad {{comunidad.nombre}}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <h2>{{ comunidad.nombre }}</h2>
            <p>{{ comunidad.descripcion }}</p>
        </div>
        <div class="col-md-2 col-md-offset-4">
            <div class="row" style="padding: 2%">
                <a href="{% url 'JayusApp.views.contenido_add' 'comunidad' comunidad.id %}">
                    Crear contenido
                </a>
            </div>
            <div class="row" style="padding: 2%">
                <a href="{% url 'admin:JayusApp_comunidad_change' comunidad.id %}">
                    Editar comunidad
                </a>
            </div>
<!--
            <div class="row" style="padding: 2%">
                <a href="{% url 'JayusApp.views.comunidad' comunidad.id %}">
                    Miembros
                </a>
            </div>
-->
        </div>
    </div>
    <hr>

    {% for contenido in content_list %}
        <div class="list-group">
          <a href="{% url 'JayusApp.views.contenido' contenido.id %}" class="list-group-item deactive">
            <h4 class="list-group-item-heading">{{ contenido.titulo|safe }}</h4>
            <p class="list-group-item-text">{{ contenido.contenido|safe }}</p>
          </a>
        </div>
    {% endfor %}
{% endblock %}
