
{% extends "admin/my_custom_index.html" %}
{% load admin_urls %}

{% block title %}Jayus | {{contenido.titulo}}{% endblock %}

{% block content %}
    <h1>{{contenido.titulo}}</h1>
    <p>{{contenido.contenido|safe}}</p>

    {% if comentarios %}
        <div class="panel panel-default">
            <div class="list-group-item list-group-item-info">Comentarios</div>
                <ul class="list-group">
                  {% for comentario in comentarios %}
                        <li class="list-group-item">
                            <p>Creado por <strong>{{comentario.usuario_modificacion}} </strong> el {{comentario.fecha_modificacion}}</p>
                            <p>{{comentario.descripcion}}</p>
                        </li>
                  {% endfor %}
                </ul>
        </div>
    {% endif %}

    {% include "alta_comentario.html" with idContenido=contenido.id formComentario=formContenido %}
{% endblock %}
