{% extends "admin/my_custom_index.html" %}
{% load staticfiles %}

{% block content %}

<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script>
    CKEDITOR.replace('id_contenido');
</script>

<form action="{% url 'JayusApp.views.contenido_add' lugar idLugar %}" method="post"  style="padding:2%;">
    {% csrf_token %}

    <div class="alert alert-info" role="alert">
      <a href="#" class="alert-link">
            Creando contenido en <strong>{{lugar}}</strong>: {{nombre}}
      </a>
    </div>
    <br>
    <div class="form-inline row">
        <div class="form-group col-md-6">
            <label for="id_titulo">Título: </label>
            {{ form.titulo }}
            {{ form.titulo.errors }}
        </div>
        <div class="form-group  col-md-6">
            <label for="id_visibilidad">Visibilidad: </label>
            {{ form.visibilidad }}
        </div>
    </div>
    <div class="form-group row" style="padding:2%;">
            <label for="id_contenido">Contenido</label>
            <textarea class="ckeditor" id="id_contenido" name="contenido"></textarea>
    </div>
    <div class="row">
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    </div>

    <center class="row" style="padding:2%">
        <button class="btn btn-primary" type="submit">Guardar</button>
        <a class="btn btn-default" href="{% url 'JayusApp.views.home' %}"">Cancelar </a>
    </center>
</form>

{% endblock content %}