{% extends "admin/my_custom_index.html" %}
{% block content %}
    <h1>Gracias por registrarse!</h1>


    <p>En el caso de no haber recibido el
    mail con la confirmación de su registro, revise
    su carpeta de correos no deseados.</p>
    <br>

{% endblock content %}
</html>