{% extends "admin/my_custom_index.html" %}

{% block title %}Jayus | Home{% endblock %}

{% block content %}
<h2>Portal de Contenido</h2>

{% for contenido in content_list %}
    <div class="list-group">
        <a href="{% url 'JayusApp.views.contenido' contenido.id%}" class="list-group-item deactive">
            <h4 class="list-group-item-heading">{{ contenido.titulo|safe }}</h4>
            <p class="list-group-item-text">{{contenido.fecha_modificacion|safe}}</p>
        </a>
    </div>
{% endfor %}
{% endblock %}

