{% extends "admin/my_custom_index.html" %}

{% block title %}Jayus | Perfil {{usuario.username}}{% endblock %}

{% block content %}
    {% for comunidad in mis_comunidades %}
        <div class="list-group">
          <a href="{% url 'JayusApp.views.comunidad' comunidad.id %}" class="list-group-item deactive">
            <h4 class="list-group-item-heading"> {{comunidad.nombre}}</h4>
            <p class="list-group-item-text">{{ comunidad.descripcion }}</p>
          </a>
        </div>
    {% endfor %}
{% endblock %}