{% extends "admin/my_custom_index.html" %}

{% block title %}Jayus | Perfil {{usuario.username}}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <img src="{{ perfil.imagen }}" alt="Imagen no disponible"/>
        </div>
        <div class="col-md-4">
            <h2>{{ usuario.username}}</h2>
            <p>{{ usuario.email }}</p>
        </div>
        <div class="col-md-4">
            {% if perfil.usuario.id == request.user.id %}
                <div class="row" style="padding: 2%">
                    <a href="{% url 'JayusApp.views.contenido_add' 'perfil' idPerfil %}">Crear contenido </a>
                </div>
                <div class="row" style="padding: 2%">
                    <a href="{% url 'admin:JayusApp_perfil_change' idPerfil %}">Editar perfil </a>
                </div>
            {% endif %}
        </div>
    </div>
    <hr>

    {% for contenido in content_list %}
        <div class="list-group">
            <a href="{% url 'JayusApp.views.contenido' contenido.id %}" class="list-group-item deactive">
                <h4 class="list-group-item-heading">{{ contenido.titulo|safe }}</h4>
                <p class="list-group-item-text">{{ contenido.contenido|safe }}</p>
            </a>
        </div>
    {% endfor %}
{% endblock %}
