{% extends "admin/my_custom_index.html" %}
{% load i18n %}

{% block bodyclass %}{{ block.super }} app-{{ app_label }}{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <ol class="breadcrumb">
      <li class="home">
        <a href="{% url 'admin:index' %}" title="{% trans 'Home' %}"><span class="glyphicon glyphicon-home"></span></a>
      </li>
      <li class="active">
        {% for app in app_list %}
          {{ app.name }}
        {% endfor %}
      </li>
    </ol>
  {% endblock %}
{% endif %}

{% block recent_actions %}{% endblock recent_actions %}