{% extends "admin/index.html" %}
{% load staticfiles %}<html>

<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

{% block main_header %}
    <div class="main-header">
      {% if is_displaying_menu %}
        <button type="button" class="show-hide-sidebar-menu">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      {% endif %}
      {% block pretitle %}{% endblock %}
      {% block content_title %}
        <h1>
        {% if title %}
          <span class="django-admin-title">{{ site_header|default:_('Jayus administration') }} &raquo;</span>
          {{ title }}
        {% else %}
          {{ site_header|default:_('Jayus administration') }}
        {% endif %}
        </h1>
      {% endblock %}
      <div id="user-tools" class="btn-group">
        <div class="btn-group">
            {% if user.is_authenticated  %}
                 <a href="{% url 'JayusApp.views.home' %}" title="Home" class="btn btn-default">
                      Home
                 </a>
                 <span class="replace">
                 </span>
                 <a href="{% url 'JayusApp.views.perfilView' %}" title="Mi perfil" class="btn btn-default">
                       Mi perfil
                 </a>
                 <a href="{% url 'JayusApp.views.mis_comunidades' %}" title="Mis comunidades" class="btn btn-default">
                       Mis comunidades
                 </a>
                 <div class="btn-group" role="group">
                     <button id="dLabel" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Administración <span class="caret"></span>
                     </button>
                    <ul class="dropdown-menu" role="menu">
                        <li class="hidden-sm">
                          <a href="{% url 'admin:login' %}">Administrar</a>
                        </li>
                        <li>
                          <a href="{% url 'admin:JayusApp_comunidad_add' %}">Crear Grupo</a>
                        </li>
                    </ul>
                 </div>
                 <a href="{% url 'JayusApp.views.aboutUs' %}" title="Nosotros" class="btn btn-default">
                    Nosotros
                 </a>
                 <div class="btn-group" role="group">
                      <button id="duser" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        {% if user.is_active and user.is_staff %}
                          {% block welcome-msg %}
                            {% firstof user.get_short_name user.get_username %}
                          {% endblock %}
                        {% endif %}
                        <span class="caret"></span>
                      </button>
                      {% url 'django-admindocs-docroot' as docsroot %}
                      <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="duser">
                        {% if docsroot %}
                          <li class="hidden-sm">
                            <a href="{{ docsroot }}">Documentación</a>
                          </li>
                        {% endif %}
                        {% if user.has_usable_password %}
                          <li>
                            <a href="{% url 'admin:password_change' %}">Cambiar contraseña</a>
                          </li>
                        {% endif %}
                        <li>
                          <a href="{% url 'admin:logout' %}">Desloguearse</a>
                        </li>
                      </ul>
                 </div>
            {% else %}
                 <a href="{% url 'JayusApp.views.aboutUs' %}" title="Nosotros" class="btn btn-default">
                    Nosotros
                 </a>
                 <a href="{% url 'admin:index' %}" title="Ingresar" class="btn btn-default">
                    Ingresar
                 </a>
                 <a href="{% url 'JayusApp.views.registrar' %}" title="Registrarse" class="btn btn-default">
                   Registrarse
                </a>
            {% endif %}
        </div>
        <!--        No importa si está o no loggeado        -->
        {% if docsroot %}
          <a href="{{ docsroot }}" title="Documentación" class="btn btn-default hidden-sm"><span class="glyphicon glyphicon-book"></span></a>
        {% endif %}
        <a href="{% url 'admin:logout' %}" title="{% if user.is_authenticated %} Desloguearse {% else %} Ingresar {% endif %}" class="btn btn-default hidden-xs">
          <span class="glyphicon glyphicon-off"></span>
        </a>
      </div>
    </div>
{% endblock %}